* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, sans-serif;
  background-color: #1b2f3e;
}

.hidden {
  display: none !important;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}

.create-form,
.search-form,
.tabs {
  width: 100%;
  max-width: 350px;
  background-color: #a1bfd5;
  padding: 20px;
  outline: 2px solid #fff6;
  outline-offset: 2px;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
}

.tabBtn {
  all: unset;
  border: 2px solid #fff6;
  border-bottom: 3px solid #2225;
  font-size: 0.8rem;
  padding: 8px 4px;
  text-align: center;
  flex: 1;
  background-color: #fff5;
  user-select: none;
  cursor: pointer;
}

.tabBtn.tabCurrent {
  background-color: #fffa;
  border-bottom-width: 2px;
}

.create-form *,
.search-form * {
  height: 2em;
  min-width: 60px;
}

.search-form {
  display: flex;
}

#searchInput {
  flex: 1;
}

.create-form h2 {
  font-weight: lighter;
  color: #162633;
}

.create-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  font-size: 0.8rem;
  font-weight: bold;
  outline: 1px solid #fff;
  padding-left: 0.5em;
  background-color: #fff9;
}

.create-form input {
  max-width: 60%;
}

form input {
  padding: 0.2em 0.4em;
  border-color: transparent;
}

input[type="submit"] {
  display: block;
  margin-left: auto;
  width: 70px;
}

.results-list {
  list-style: none;
  width: 100%;
  max-width: 400px;
  margin-bottom: 60px;
}

.results-list-item {
  width: 100%;
  margin: 10px auto;
  padding: 8px 12px;
  border: 3px solid #0004;
  border-radius: 4px;
  background: linear-gradient(-45deg, #fff5e8, #f8fafc);
  color: #162633;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 5em;
}

.selected .item-actions {
  transform: unset;
}

.item-actions {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: 0.3s;
}

.item-actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex: 1;
  margin: 3px;
  padding: 6px 8px;
  border: none;
  background-color: #a1bfd5;
  color: #222;
  cursor: pointer;
  font-weight: bold;
}

.item-actions button:hover,
.item-actions button:focus {
  background-color: #a1bfd5;
  color: #222;
}

.results-list-item:nth-of-type(even) {
  background: linear-gradient(-45deg, #e0edff, #f8fafc);
}

.results-list-item > * + * {
  margin-top: 0.2em;
}

.item-product {
  font-size: 1.25rem;
}

.item-brand {
  font-size: 1rem;
  margin-top: 0;
}

.item-detail,
.item-shop {
  font-size: 0.8rem;
}

.item-values {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  grid-column: 2 / 3;
  grid-row: 1 / 5;
}

.item-values * {
  flex: 1;
  outline: 1px solid #2225;
  padding: 0.2em 0.4em;
  background: #fff;
  text-align: right;
}

.item-price {
  font-weight: bold;
}
